<!-- your html code here -->
<div class="container-fluid pb-2">
    <div class="row d-flex justify-content-center">
        <div class="col-10">
    <h1 class="font-roboto"> Contact </h1>
    <p class="fs-5">Donec ullamcoper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper.
        Praesent
        commodo cursus magna, vel scelerisque nisl consectetur.
        Fusce dapibus, tellus ac cursus commodo. </p>
    </div>
</div>
</div>
<form class="d-flex justify-content-center mb-5">
    <div class="card bg-light" style="width: 48rem;">
        <div class="card-body">
            <div class="row mb-3 text text-end">
                <label for="inputEmail3" class="col-sm-3 fw-bold pt-1">Your E-mail</label>
                <div class="col-sm-9 d-inline-flex">
                    <input type="email" class="form-control" id="inputEmail3" placeholder="Your email">
                </div>
            </div>
            <div class="row mb-3 text-end">
                <label for="Textarea" class="col-sm-3 fw-bold pt-1">Your message</label>
                <div class="col-sm-9 d-inline-flex">
                    <textarea class="form-control pl-2" id="Textarea" rows="4"
                        placeholder="Please enter your message here..."></textarea>
                </div>
            </div>
            <button type="submit" class="btn-lg btn-primary float-end mb-3">Submit</button>
        </div>
    </div>
</form>