<div class="container-fluid pb-2"; style="margin-top:100px; margin-bottom:60px;">
    <div class="row d-flex justify-content-center">
        <div class="col-10 d-inline-flex">
            <div>
                <h1 class="font-roboto"> This First Heading
                    <md class="text-muted">Will Catch Your Eye</md>
                </h1>
                <p class="fs-5">Donec ullamcoper nulla non metus auctor fringilla. Vestibulum id ligula porta felis
                    euismod semper.
                    Praesent
                    commodo cursus magna, vel scelerisque nisl consectetur.
                    Fusce dapibus, tellus ac cursus commodo. </p>
            </div>
            <img src="https://media.istockphoto.com/vectors/portrait-of-happy-bald-man-wearing-thick-spectacles-and-looking-at-vector-id1044731630?k=20&m=1044731630&s=612x612&w=0&h=awbOZpxdTaeSMgqi847T61K1WgBgyq9qn8jSKX0AMHA="
                class="rounded-circle float-end d-inline-flex" alt="Work Station" width="350" height="350">
        </div>
    </div>

    <hr class="my-4"; style="opacity: 10%; width:86%; margin-left:9% !important; margin-right:10% !important;">

</div>